ProfileEncodingExample/bin
ProfileEncodingExample/obj
Qencode.Api.CSharp.Client/bin
Qencode.Api.CSharp.Client/obj
.vs
CustomEncodingExample/bin
CustomEncodingExample/obj
CustomEncodingJsonExample/bin
CustomEncodingJsonExample/obj
CustomTranscodingParamsTest/bin
CustomTranscodingParamsTest/obj
CustomTusUploadEncodingExample/bin
CustomTusUploadEncodingExample/obj
ScaleTest